<h2><%= @book.bookName %></h2>

<div id="container">
<img src="<%= @book.image %>"/>
<div class="button">
<button onclick="recordStop()" id="record-stop-button">Record</button>
<button onclick="playAudio()" disabled id="play-audio-button">Play</button>
</div>
</div>

<div>
<p>Authors : <%= @book.bookAuther %></p>
</div>

<div>
    <p>Publish Year: <%= @book.bookYear %></p>
</div>

<div>
<p><%= @book.bookDescription %></p>
</div>

