<h3><%= @book.bookName %></h3>

<div class="image">
<img src="<%= @book.image %>"/>
</div>
<div class="summarize">
<h5>Click on the record to summarize your own vertion fo this book</h5>
<button  onclick="recordStop()" id="record-stop-button">Record</button>
<button onclick="playAudio()" disabled id="play-audio-button">Play</button>
</div>

<div>
<p><strong>Authors :</strong> <%= @book.bookAuther %></p>
</div>

<div>
    <p><strong>Publish Year:</strong> <%= @book.bookYear %></p>
</div>

<div>
<p><%= @book.bookDescription %></p>
</div>
<div>
<% @book.audio_summaries.each do |a| %>
    <%= audio_tag a.audio, controls: true %>
      <%# <%= a.audio_summary (:audio) %> 


<% end %>

<br>
<%= rating_for audio_summary, 'audio', disable_after_rate: true, star_path: “”, star_on: image_path(“star-on.png”), star_off: image_path(“star-off.png”), star_half: image_path(“star-half.png”), cancel_on: image_path(“cancel-on.png”), cancel_off: image_path(“cancel-off.png”) %>
</div>