<h2><%= @book.bookName %></h2>

<div id="container">
<img src="<%= @book.image %>"/>
<<<<<<< HEAD
<div class="button">
<button onclick="recordStop()" id="record-stop-button">Record</button>
=======
<div class="summarize">
<h5>Click on the record to summarize your own vertion fo this book</h5>
<button  onclick="recordStop()" id="record-stop-button">Record</button>
>>>>>>> ae34a284298d2c3af217a011a995a894139cc6b9
<button onclick="playAudio()" disabled id="play-audio-button">Play</button>
</div>
</div>

<div>
<p>Authors : <%= @book.bookAuther %></p>
</div>

<div>
    <p>Publish Year: <%= @book.bookYear %></p>
</div>

<div>
<p><%= @book.bookDescription %></p>
</div>

